<div class="popup popup--product">
  <div class="popup__container">
    <button class="popup__close" type="button" aria-label="Закрыть">
      <svg width="15" height="15">
        <use xlink:href="images/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="popup__wrapper">
      <article class="big-card">
        <h2 class="big-card__title section-title">
          Резервуар храения воды 5м<sup>3</sup>
        </h2>

        <div class="big-card__img">
          <img
            src="images/content/projects/1.jpg"
            alt="Резервуар хранения воды"
          />
        </div>
        <div class="big-card__text">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis ex
            cum numquam distinctio eos reprehenderit officia quam eius sequi
            architecto qui, amet perspiciatis corrupti ullam veniam. Modi
            similique nesciunt non?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla vero
            minima id fuga quisquam nostrum alias maxime! Amet, nesciunt
            eligendi!
          </p>
        </div>
        <div class="big-card__details">
          <h3 class="big-card__heading">
            Резервуар вертикально-целиндрический, с плоским дном и консуной
            крышкой.
          </h3>
          <ul class="big-card__list">
            <li class="big-card__item">
              <div class="big-card__name">Материал:</div>
              <div class="big-card__descr"><span>нержавеющая сталь</span></div>
            </li>
            <li class="big-card__item">
              <div class="big-card__name">Температура эксплуатации:</div>
              <div class="big-card__descr">
                <span>+5...+30 С (Пустая емкость может храниться до -30 С</span>
              </div>
            </li>
            <li class="big-card__item">
              <div class="big-card__name">Давление:</div>
              <div class="big-card__descr"><span>налив</span></div>
            </li>
            <li class="big-card__item">
              <div class="big-card__name">Плотность хранимой жидкости:</div>
              <div class="big-card__descr">
                <span>до 1000кг/м<sup>3</sup></span>
              </div>
            </li>
            <li class="big-card__item">
              <div class="big-card__name">Полный размер резервуара:</div>
              <div class="big-card__descr"><span>5300 литров</span></div>
            </li>
            <li class="big-card__item">
              <div class="big-card__name">Размеры (ДxШxВ):</div>
              <div class="big-card__descr"><span>1400x1490x3950</span></div>
            </li>
            <li class="big-card__item">
              <div class="big-card__name">Вес:</div>
              <div class="big-card__descr"><span>200 кг</span></div>
            </li>
            <li class="big-card__item">
              <div class="big-card__name">Комплект поставки:</div>
              <div class="big-card__descr">
                <span
                  >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
                  praesentium dolor sapiente libero quae itaque optio ea
                  repellendus quo nobis.</span
                >
              </div>
            </li>
          </ul>
        </div>

        <div class="big-card__bottom">
          <button class="big-card__btn btn" type="button">
            Заказть похожий объект
          </button>
        </div>
      </article>
    </div>
  </div>
</div>
