body {
  font-family: $HelveticaNeueCyr;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  color: var(--color-dark);
  background-color: var(--color-white);
  position: relative;
  overflow-x: hidden;

  &.no-scroll {
    overflow: hidden;
  }
}

.container {
  max-width: $bp-container;
  padding: 0px 15px;
  margin: 0 auto;
}

.container-fluid {
  max-width: 1920px;
  padding: 0px 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 10;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(5px);
  transition: 200ms ease-in;

  &.active {
    opacity: 1;
    visibility: visible;
    transition-delay: 550ms ease;
  }
}

.section-title {
  @include adaptive-value('font-size', 35, 24, 1);
  line-height: 1.25;
  font-weight: 500;
}

.btn {
  color: var(--color-white);
  padding: 17px;
  display: block;
  max-width: 100%;
  background-color: var(--color-accent);
  border-radius: 10px;
  font-size: 15px;
  line-height: 1;
  font-weight: 700;
  transition: 150ms ease;

  &:hover {
    background-color: darken(#425fbd, 7%);
  }

  &:active {
    box-shadow: inset 0 4px 2px rgba(0, 0, 0, 0.55);
    transform: scale(0.98);
  }

  &--transparent {
    border: 1px solid var(--color-accent);
    background-color: transparent;
    color: var(--color-accent);

    &:hover {
      color: var(--color-white);
    }
  }
}

.swiper-pagination {
  display: flex;
  align-items: center;

  &-bullet {
    background-color: #dbdfeb;
    opacity: 1;
    width: 100%;
    border-radius: 0;
    height: 2px;

    &-active {
      background-color: var(--color-accent);
    }
  }
}

.map {
  iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.grid {
  position: relative;

  &__content {
    display: grid;
    grid-template-columns: minmax(auto, 340px) 1fr;
    gap: 40px;

    @include breakpointsMaxW($bp-container) {
      gap: 30px;
    }

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: 1fr;
      gap: 0;
    }
  }

  &__right {
    .container {
      padding: 0;
    }

    @include breakpointsMaxW($bp-991) {
      // padding-top: 450px;
    }
  }
}
