<section class="contacts-page">
  <div class="container">
    <div class="contacts-page__wrapper">
      <div class="contacts-page__offer">
        <h2 class="contacts-page__title section-title">Контакты</h2>

        <a class="contacts-page__phone" href="tel:+74954886528">
          <span class="contacts-page__name">Телефон:</span>
          8 (495) 488 65 28
        </a>

        <div class="contacts-page__socials socials socials--bg-light">
          <ul class="socials__list">
            <li class="socials__item">
              <a href="#" class="socials__link socials__link--instagram"></a>
            </li>
            <li class="socials__item">
              <a href="#" class="socials__link socials__link--whatsapp"></a>
            </li>
            <li class="socials__item">
              <a href="#" class="socials__link socials__link--telegram"></a>
            </li>
          </ul>
        </div>

        <div class="contacts-page__info">
          <address class="contacts-page__address">
            <span class="contacts-page__name">Адрес:</span>
            МО, г. Клин, ул. Менделеева, д 16, пом. 1/2
          </address>

          <div class="contacts-page__schedule">
            <span class="contacts-page__name"> Режим работы:</span>
            пн - пт с 09:00 до 19:00, сб - вс - выходные
          </div>

          <div class="contacts-page__mail">
            <span class="contacts-page__name">E-mail:</span>
            <a href="mailto:weldertechs@gmail.com">weldertechs@gmail.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="contacts-page__map map">
    <iframe
      src="https://yandex.ru/map-widget/v1/?um=constructor%3A12b49ffb99f42c2b7018cbf5a0fa008e6e2eb06ee78d7674fecf623f8851a61a&amp;source=constructor"
      width="1069"
      height="610"
    ></iframe>
  </div>
</section>
