.product-card {
  width: 100%;
  background-color: var(--color-accent);
  color: var(--color-white);
  height: 100%;
  height: 377px;
  position: relative;
  overflow: hidden;

  @include adaptive-value('padding-top', 40, 20, 1);
  @include adaptive-value('padding-bottom', 40, 20, 1);
  @include adaptive-value('padding-left', 50, 20, 1);
  @include adaptive-value('padding-right', 50, 20, 1);

  border-color: var(--color-accent);

  .product-card__preview {
    position: absolute;
    right: 12%;
    bottom: 6%;
    width: 181px;
    height: 322px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @include breakpointsMaxW($bp-container) {
      right: 5%;
    }
    @include breakpointsMaxW($bp-768) {
      width: 110px;
      height: 190px;
    }
  }

  &--tanks {
    .product-card__preview {
      right: 5%;
    }
  }

  &--grease-traps {
    .product-card__preview {
      bottom: 6%;
      right: 0;

      @include breakpointsMaxW($bp-container) {
        right: 0;
      }
    }
  }
  &--milk {
    .product-card__preview {
      width: 330px;
      height: 250px;
      right: -15px;
      @include breakpointsMaxW($bp-container) {
        width: calc(200px + (330 - 200) * ((100vw - 991px) / (1270 - 991)));
      }
      @include breakpointsMaxW($bp-991) {
        width: 330px;
        height: 250px;
      }
      @include breakpointsMaxW($bp-768) {
        width: 220px;
        height: 190px;
      }
    }
  }

  &--pipelines {
    .product-card__preview {
      right: -35px;
      width: 334px;
      height: 313px;
      @include breakpointsMaxW($bp-container) {
        width: calc(250px + (330 - 250) * ((100vw - 991px) / (1270 - 991)));
      }
      @include breakpointsMaxW($bp-991) {
        width: 330px;
        height: 250px;
      }
      @include breakpointsMaxW($bp-768) {
        width: 250px;
        height: 230px;
      }
    }
  }
  &--milk,
  &--pipelines {
    background-color: var(--color-white);
    color: var(--color-dark);
    border: 15px solid #dce0e7;
    .product-card__link {
      &::after {
        background-color: var(--color-dark);
      }
    }
  }

  &--bg-white {
    background-color: var(--color-white);
    color: var(--color-dark);
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 310px;
    width: 55%;
    height: 100%;

    @include breakpointsMaxW($bp-991) {
      width: 100%;
    }
  }

  &__title {
    @include adaptive-value('font-size', 30, 20, 1);
    margin-bottom: 17px;
    line-height: 1.3;
  }

  &__link {
    margin-top: auto;
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    position: relative;
    padding-right: 40px;

    &:hover {
      &::after {
        transform: translateY(-50%) translateX(5px);
      }
    }

    &::after {
      transition: 250ms ease;
      @include elDef();
      width: 30px;
      height: 16px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      @include maskImage(url('../images/icons/arrow.svg'), contain);
      background-color: var(--color-white);
    }
  }
}
