.filters-catalog {
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpointsMaxW($bp-576) {
      grid-template-columns: 1fr;
    }
  }
  &__item {
    height: 44px;
  }
}
