.form-submit {
  font-size: 17px;

  &__top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

    @include breakpointsMaxW($bp-768) {
      grid-template-columns: 1fr;
    }
  }

  &__group {
    display: block;
    height: 60px;

    &--textarea {
      height: 140px;
      grid-column: 1/-1;
    }
  }

  &__input {
    width: 100%;
    display: block;
    background-color: #f3f8fb;
    border: 1px solid #d4dee6;
    border-radius: 5px;
    height: 100%;
    padding: 21px;
    @include breakpointsMaxW($bp-768) {
      font-size: 15px;
    }
  }
  &__btn {
    max-width: 305px;
    width: 100%;
    margin: 0 auto;
    font-size: 17px;
  }

  .checkbox {
    width: 100%;
    padding: 20px 0;
    margin-bottom: 20px;
    @include breakpointsMaxW($bp-768) {
      justify-content: center;
    }

    &__text {
      flex-direction: row;
      font-size: 13px;
      color: #848a8e;

      @include breakpointsMaxW($bp-768) {
        flex-direction: column;
        align-items: flex-start;
      }

      a {
        color: var(--color-accent);
        text-decoration: underline;
      }
    }
  }
}
