.partners {
  @include adaptive-value('padding-top', 85, 40, 1);
  @include adaptive-value('padding-bottom', 85, 40, 1);

  &__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 65px;

    @include breakpointsMaxW($bp-991) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__title {
    flex-shrink: 0;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 207px));
    justify-content: space-between;
    gap: 50px;

    @include breakpointsMaxW($bp-768) {
      grid-template-columns: repeat(2, minmax(auto, 207px));
      justify-content: center;
    }
  }

  &__item {
    position: relative;
    padding-right: 52px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpointsMaxW($bp-991) {
      padding-right: 0;
    }

    img {
      object-fit: contain;
      flex-shrink: 0;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }

    &::after {
      @include elDef();
      width: 1px;
      height: 100%;
      background-color: #e1e4e6;
      top: 50%;
      transform: translateY(-50%);
      right: 0;

      @include breakpointsMaxW($bp-991) {
        display: none;
      }
    }
  }
}
