.projects {
  @include adaptive-value('padding-top', 60, 40, 1);
  @include adaptive-value('padding-bottom', 60, 40, 1);

  &__title {
    @include adaptive-value('margin-bottom', 50, 30, 1);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 395px));
    gap: 25px;

    @include adaptive-value('margin-bottom', 75, 40, 1);

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: repeat(2, minmax(auto, 395px));
      justify-content: center;
    }
    @include breakpointsMaxW($bp-768) {
      grid-template-columns: minmax(auto, 395px);
    }

    &__item {
      width: 100%;
      height: 100%;
    }
  }

  &__btn {
    display: block;
    width: 115px;
    height: 115px;
    border: 1px dashed #a2a2a2;
    border-radius: 50%;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    transition: 150ms ease;

    &:hover {
      transform: translateY(5px);
      background-color: var(--color-accent);
      color: var(--color-white);
      border-style: solid;
    }

    &:active {
      transform: scale(0.98);
    }
  }
}
