.request {
  @include adaptive-value('padding-top', 85, 40, 1);
  @include adaptive-value('padding-bottom', 85, 40, 1);

  &__top {
    text-align: center;
    max-width: 680px;
    margin: 0 auto;
    @include adaptive-value('margin-bottom', 70, 50, 1);
  }

  &__title {
    @include adaptive-value('margin-bottom', 28, 20, 1);
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 210px) 1fr;
    gap: 30px;

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: 1fr;
    }
  }

  &__preview {
    @include breakpointsMaxW($bp-991) {
      margin: 0 auto;
    }
  }

  &__heading {
    font-size: 18px;
    margin-bottom: 25px;
  }

  &__btn {
    width: 100%;
  }

  &__form {
    width: 100%;

    .form {
      &__checkbox {
        width: 100%;
      }

      width: 100%;

      &__group {
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @include adaptive-value('margin-bottom', 50, 30, 1);
      }

      &__label {
        font-weight: 700;
      }

      &__input {
        display: block;
        width: 100%;
        font-size: 19px;
        padding-bottom: 16px;
        border-bottom: 1px solid #d2d6e4;

        &::placeholder {
          color: #989ba5;
        }

        &:focus {
          border-color: var(--color-dark);
        }
      }

      &__bottom {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        @include breakpointsMaxW($bp-container) {
          grid-template-columns: 1fr;
          gap: 20px;
        }
      }

      &__btn {
      }
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 9px;
    }

    .checkbox {
      border-radius: 10px;
      font-size: 15px;
      width: 100%;
      height: 44px;
      background-color: #eff1f9;
      color: #586079;
      display: flex;
      align-items: center;
      position: relative;
      padding-left: 20px;

      &.active {
        background-color: var(--color-accent);
        color: var(--color-white);
        
        .checkbox__text {
          color: var(--color-white);
        }
      }

      &__input {
      }

      &__box {
        border-radius: 50%;

        // &::before {
        //   @include elDef();
        //   width: 100%;
        //   height: 100%;
        //   background-color: var(--color-accent);
        //   left: 0;
        //   top: 0;
        //   border-radius: 10px;
        //   opacity: 0;
        //   visibility: hidden;
        // }
      }

      &__input:checked + &__box::after {
        background-color: var(--color-white);
        border: 1px solid #d2d6e4;
      }

      &__input:checked + &__text {
        color: var(--color-white);
      }
    }
  }
}
