.send {
  @include adaptive-value('padding-top', 75, 40, 1);
  @include adaptive-value('padding-bottom', 75, 40, 1);

  &__title {
    margin-bottom: 25px;
  }

  &__text {
    max-width: 500px;
    font-size: 17px;
    @include adaptive-value('margin-bottom', 55, 30, 1);
  }
}
