<div class="container">
  <div class="product__tabs-spec tabs-spec">
    <div class="tabs-spec__top">
      <ul class="tabs-spec__list">
        <li class="tabs-spec__item">
          <button class="tabs-spec__btn tabs-spec__btn--active">
            Описание
          </button>
        </li>
        <li class="tabs-spec__item">
          <button class="tabs-spec__btn">Характеристики</button>
        </li>
        <li class="tabs-spec__item">
          <button class="tabs-spec__btn">Чертежи</button>
        </li>
      </ul>
    </div>

    <div class="tabs-spec__content active">
      <div class="tabs-spec__text">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </p>
      </div>
    </div>
    <div class="tabs-spec__content active">
      <div class="tabs-spec__text">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries.
        </p>
      </div>
    </div>
    <div class="tabs-spec__content active">
      <div class="tabs-spec__text">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of
          the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown
          printer took a galley of type and
        </p>
      </div>
    </div>
  </div>
  <button class="product__btn btn" type="button">ЗАКАЗАТЬ ТАКУЮ ЕМКОСТЬ</button>
</div>
