<section class="catalog catalog--small">
  <div class="container">
    <h2 class="catalog__title">Мы изготавливаем</h2>

    <ul class="catalog__list">
      <li class="catalog__item catalog__item--big">
        <article
          class="product-card"
          style="background-image: url('images/content/products/1.png')"
        >
          <div class="product-card__inner">
            <h3 class="product-card__title">Емкости из нержавеющей стали</h3>
            <div class="product-card__text">
              <p>
                Производство емкостей и оборудования из нержавеющей стали с
                гарантией от производителя.
              </p>
            </div>

            <a class="product-card__link" href="#">Подробнее</a>
          </div>
        </article>
      </li>
      <li class="catalog__item catalog__item--small">
        <article
          class="product-card"
          style="background-image: url('images/content/products/2.png')"
        >
          <div class="product-card__inner">
            <h3 class="product-card__title">
              Цилиндро конические <br />
              танки
            </h3>
            <div class="product-card__text">
              <p>Емкости для брожения пива.</p>
            </div>

            <a class="product-card__link" href="#">Подробнее</a>
          </div>
        </article>
      </li>
    </ul>
    <ul class="catalog__list">
      <li class="catalog__item catalog__item--small">
        <article
          class="product-card"
          style="background-image: url('images/content/products/33.png')"
        >
          <div class="product-card__inner">
            <h3 class="product-card__title">Жироуловители</h3>
            <div class="product-card__text">
              <p>
                Элементы канализационной системы, служащие для отделения жира в
                сточных водах.
              </p>
            </div>

            <a class="product-card__link" href="#">Подробнее</a>
          </div>
        </article>
      </li>
      <li class="catalog__item catalog__item--big">
        <article
          class="product-card"
          style="background-image: url('images/content/products/44.png')"
        >
          <div class="product-card__inner">
            <h3 class="product-card__title">
              Резервуары для приемки и хранения молока
            </h3>
            <div class="product-card__text">
              <p>
                Термоизолированные ёмкости, рабочие сосуды, выполненные из
                пищевой нержавеющей стали.
              </p>
            </div>

            <a class="product-card__link" href="#">Подробнее</a>
          </div>
        </article>
      </li>
    </ul>
    <ul class="catalog__list">
      <li class="catalog__item catalog__item--small">
        <article
          class="product-card product-card--bg-white"
          style="background-image: url('images/content/products/5.png')"
        >
          <div class="product-card__inner">
            <h3 class="product-card__title">Трубопроводы</h3>
            <div class="product-card__text">
              <p>Инженерно-технические сооружения.</p>
            </div>

            <a class="product-card__link" href="#">Подробнее</a>
          </div>
        </article>
      </li>
      <li class="catalog__item catalog__item--big">
        <article
          class="product-card"
          style="background-image: url('images/content/products/6.png')"
        >
          <div class="product-card__inner">
            <h3 class="product-card__title">
              Емкость ЦКТ с рубашкой охлаждения
            </h3>
            <div class="product-card__text">
              <p>
                Производство емкостей для брожения пива с рубашкой охлаждения.
              </p>
            </div>

            <a class="product-card__link" href="#">Подробнее</a>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
