<section class="connection">
  <div class="container">
    <h2 class="connection__title section-title">Напишите нам</h2>

    <div class="connection__wrapper">
      <form class="connection__form form-submit" action="/">
        <div class="form-submit__top">
          <label class="form-submit__group">
            <input
              class="form-submit__input"
              type="text"
              placeholder="Введите ваше имя"
              required
            />
          </label>
          <label class="form-submit__group">
            <input
              class="form-submit__input"
              type="text"
              placeholder="Введите ваш e-mail"
              required
            />
          </label>
          <label class="form-submit__group">
            <input
              class="form-submit__input"
              type="text"
              placeholder="Введите ваш телефон"
              required
            />
          </label>
          <label class="form-submit__group form-submit__group--textarea">
            <textarea
              class="form-submit__input"
              placeholder="Сообщение"
            ></textarea>
          </label>
        </div>

        <label class="checkbox">
          <input class="checkbox__input" type="checkbox" />
          <span class="checkbox__box"></span>
          <span class="checkbox__text"
            >Отправляя заявку я соглашаюсь с
            <a href="#">политикой конфиденциальности</a>
          </span>
        </label>

        <button class="form-submit__btn btn" type="submit">Отправить</button>
      </form>
    </div>
  </div>
</section>
