<footer class="footer">
  <div class="container">
    <nav class="main-menu">
      <a href="#" class="header__logo logo">
        <img src="images/logo.png" alt="Логотип" />
      </a>

      <div class="menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" href="#">Главная</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Услуги</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Каталог</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Наши проекты</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">О нас</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Контакты</a>
          </li>
        </ul>
      </div>

      <div class="main-menu__tools">
        <a class="main-menu__phone phone" href="tel:+74954886528">
          <span class="icon"></span>
          <span>8 (495) 488 65 28</span>
        </a>

        <button class="main-menu__btn btn">Заказать звонок</button>
      </div>
    </nav>
  </div>
  <div class="footer__middle">
    <div class="container">
      <div class="footer__wrapper">
        <div class="footer__info">
          <address class="footer__address">
            Адрес: МО, г. Клин, ул. Менделеева, д 16, пом. 1/2
          </address>
          <div class="footer__schedule">
            Режим работы: пн - пт с 09:00 до 19:00 | сб - вс - выходные
          </div>
        </div>

        <div class="footer__policy">
          <a href="#">Политика конфиденциальности </a>
          <a href="#">Карта сайта </a>
        </div>

        <a
          class="footer__by"
          href="https://razrabotka-saita.ru/"
          target="_blank"
        >
          <span>Разработка</span>
          <img src="images/company-logo.png" alt="Адванс Медив" />
        </a>

        <div class="footer__contacts">
          <a class="footer__phone" href="tel:+74954886528">
            <span>Телефон:</span> +7 (495) 488 65 28
          </a>
          <a class="footer__mail" href="mailto:weldertechs@gmail.com">
            <span>E-mail:</span> weldertechs@gmail.com
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <p>© 2022 Все права защищены</p>
  </div>
</footer>
