<section class="projects">
  <div class="container">
    <h2 class="projects__title section-title">Наши проекты</h2>
    <div class="projects__content">
      <ul class="projects__list">
        <li class="projects__item">
          <article class="project-card">
            <div class="project-card__img">
              <img src="images/content/projects/1.jpg" alt="Резервуар " />
            </div>
            <h3 class="project-card__title">Резервуар хранения воды 5 м3</h3>
            <div class="project-card__text">
              <p>
                Производился в специальных расчетно-аналитических и CAD
                программах в соответствии с европейскими стандартами DVS.
              </p>
            </div>
            <a class="project-card__btn btn btn--transparent" href="#">
              Смотреть проект
            </a>
          </article>
        </li>
        <li class="projects__item">
          <article class="project-card">
            <div class="project-card__img">
              <img src="images/content/projects/2.jpg" alt="Ёмкость " />
            </div>
            <h3 class="project-card__title">
              Ёмкость с теплоизоляцией для горячей воды
            </h3>
            <div class="project-card__text">
              <p>
                Производился в специальных расчетно-аналитических и CAD
                программах в соответствии с европейскими стандартами
                DVS.Производился в специальных расчетно-аналитических и CAD
                программах в соответствии с европейскими стандартами DVS.
              </p>
            </div>

            <a class="project-card__btn btn btn--transparent" href="#">
              Смотреть проект
            </a>
          </article>
        </li>
        <li class="projects__item">
          <article class="project-card">
            <div class="project-card__img">
              <img src="images/content/projects/3.jpg" alt="Резервуар " />
            </div>
            <h3 class="project-card__title">Емкости для коагулянта и щелочи</h3>
            <div class="project-card__text">
              <p>
                Производился в специальных расчетно-аналитических и CAD
                программах в соответствии с европейскими стандартами DVS.
              </p>
            </div>

            <a class="project-card__btn btn btn--transparent" href="#">
              Смотреть проект
            </a>
          </article>
        </li>
        <li class="projects__item">
          <article class="project-card">
            <div class="project-card__img">
              <img src="images/content/projects/4.jpg" alt="Резервуар " />
            </div>
            <h3 class="project-card__title">Резервуар хранения воды 5 м3</h3>
            <div class="project-card__text">
              <p>
                Производился в специальных расчетно-аналитических и CAD
                программах в соответствии с европейскими стандартами DVS.
              </p>
            </div>

            <a class="project-card__btn btn btn--transparent" href="#">
              Смотреть проект
            </a>
          </article>
        </li>
        <li class="projects__item">
          <article class="project-card">
            <div class="project-card__img">
              <img src="images/content/projects/5.jpg" alt="Резервуар " />
            </div>
            <h3 class="project-card__title">Ёмкость с теплоизоляцией для горячей воды</h3>
            <div class="project-card__text">
              <p>
                Производился в специальных расчетно-аналитических и CAD
                программах в соответствии с европейскими стандартами DVS.
                Производился в специальных расчетно-аналитических и CAD
                программах в соответствии с европейскими стандартами DVS.
              </p>
            </div>

            <a class="project-card__btn btn btn--transparent" href="#">
              Смотреть проект
            </a>
          </article>
        </li>
        <li class="projects__item">
          <article class="project-card">
            <div class="project-card__img">
              <img src="images/content/projects/6.jpg" alt="Резервуар " />
            </div>
            <h3 class="project-card__title">Емкости для коагулянта и щелочи</h3>
            <div class="project-card__text">
              <p>
                Производился в специальных расчетно-аналитических и CAD
                программах в соответствии с европейскими стандартами DVS.
              </p>
            </div>

            <a class="project-card__btn btn btn--transparent" href="#">
              Смотреть проект
            </a>
          </article>
        </li>
      </ul>

      <button class="projects__btn" type="button">загрузить еще</button>
    </div>
  </div>
</section>
