<div class="grid">
  <div class="container">
    <div class="grid__content">
      <div class="grid__sidebar">
        <aside class="sidebar sidebar--catalog">
          <div class="sidebar__top">
            <h3 class="sidebar__title">Каталог</h3>
          </div>
          <ul class="sidebar__list">
            <li class="sidebar__item">
              <a class="sidebar__link sidebar__link--active" href="#">
                <span>Горизонтальные емкости</span>
              </a>
            </li>
            <li class="sidebar__item">
              <a class="sidebar__link" href="#">
                <span>Вертикальные емкости</span>
              </a>
            </li>
            <li class="sidebar__item">
              <a class="sidebar__link" href="#">
                <span>Подземные емкости</span>
              </a>
            </li>
            <li class="sidebar__item">
              <a class="sidebar__link" href="#">
                <span>Воздухосборники</span>
              </a>
            </li>
            <li class="sidebar__item">
              <a class="sidebar__link" href="#">
                <span>Для хранения пенообразователя</span>
              </a>
            </li>
            <li class="sidebar__item">
              <a class="sidebar__link" href="#">
                <span>Баки-дозаторы пожаротушения</span>
              </a>
            </li>
            <li class="sidebar__item">
              <a class="sidebar__link" href="#">
                <span>Баки мембранные</span>
              </a>
            </li>
            <li class="sidebar__item">
              <a class="sidebar__link" href="#">
                <span>Жироуловители</span>
              </a>
            </li>
            <li class="sidebar__item">
              <a class="sidebar__link" href="#">
                <span>Для приемки и хранениях молока</span>
              </a>
            </li>
            <li class="sidebar__item">
              <a class="sidebar__link" href="#">
                <span>Емкости ЦКТ</span>
              </a>
            </li>
          </ul>
        </aside>
      </div>
      <div class="grid__right">
        <section class="catalog">
          <div class="container">
            <div class="catalog__filters filters-catalog">
              <ul class="filters-catalog__list">
                <li class="filters-catalog__item">
                  <select class="select" name="steel" id="steel">
                    <option value="1">Выберите тип стали</option>
                    <option value="2">Выберите тип стали</option>
                    <option value="3">Выберите тип стали</option>
                    <option value="4">Выберите тип стали</option>
                  </select>
                </li>
                <li class="filters-catalog__item">
                  <select class="select" name="volume" id="volume">
                    <option value="1">Выберите объём</option>
                    <option value="2">Выберите объём</option>
                    <option value="3">Выберите объём</option>
                    <option value="4">Выберите объём</option>
                  </select>
                </li>
                <li class="filters-catalog__item">
                  <select class="select" name="pressure" id="pressure">
                    <option value="1">Давление</option>
                    <option value="2">Давление</option>
                    <option value="3">Давление</option>
                    <option value="4">Давление</option>
                  </select>
                </li>
                <li class="filters-catalog__item">
                  <select class="select" name="appointment" id="appointment">
                    <option value="1">Назначение</option>
                    <option value="2">Назначение</option>
                    <option value="3">Назначение</option>
                    <option value="4">Назначение</option>
                  </select>
                </li>
              </ul>
            </div>

            <ul class="catalog__list">
              <li class="catalog__item">
                <article class="catalog-card">
                  <div class="catalog-card__img">
                    <img src="images/content/catalog/1.jpg" alt="Резервуар" />
                  </div>
                  <h3 class="catalog-card__title">
                    <a href="#">
                      Резервуар горизонтальный стальной наземный (РГСН)
                    </a>
                  </h3>
                </article>
              </li>
              <li class="catalog__item">
                <article class="catalog-card">
                  <div class="catalog-card__img">
                    <img src="images/content/catalog/2.jpg" alt="Резервуар" />
                  </div>
                  <h3 class="catalog-card__title">
                    <a href="#">
                      Резервуар горизонтальный стальной наземный (РГСН)
                    </a>
                  </h3>
                </article>
              </li>
              <li class="catalog__item">
                <article class="catalog-card">
                  <div class="catalog-card__img">
                    <img src="images/content/catalog/3.jpg" alt="Резервуар" />
                  </div>
                  <h3 class="catalog-card__title">
                    <a href="#">
                      Резервуар горизонтальный стальной наземный (РГСН)
                    </a>
                  </h3>
                </article>
              </li>
              <li class="catalog__item">
                <article class="catalog-card">
                  <div class="catalog-card__img">
                    <img src="images/content/catalog/4.jpg" alt="Резервуар" />
                  </div>
                  <h3 class="catalog-card__title">
                    <a href="#">
                      Резервуар горизонтальный стальной наземный (РГСН)
                    </a>
                  </h3>
                </article>
              </li>
              <li class="catalog__item">
                <article class="catalog-card">
                  <div class="catalog-card__img">
                    <img src="images/content/catalog/5.jpg" alt="Резервуар" />
                  </div>
                  <h3 class="catalog-card__title">
                    <a href="#">
                      Резервуар горизонтальный стальной наземный (РГСН)
                    </a>
                  </h3>
                </article>
              </li>
              <li class="catalog__item">
                <article class="catalog-card">
                  <div class="catalog-card__img">
                    <img src="images/content/catalog/6.jpg" alt="Резервуар" />
                  </div>
                  <h3 class="catalog-card__title">
                    <a href="#">
                      Резервуар горизонтальный стальной наземный (РГСН)
                    </a>
                  </h3>
                </article>
              </li>
              <li class="catalog__item">
                <article class="catalog-card">
                  <div class="catalog-card__img">
                    <img src="images/content/catalog/7.jpg" alt="Резервуар" />
                  </div>
                  <h3 class="catalog-card__title">
                    <a href="#">
                      Резервуар горизонтальный стальной наземный (РГСН)
                    </a>
                  </h3>
                </article>
              </li>
              <li class="catalog__item">
                <article class="catalog-card">
                  <div class="catalog-card__img">
                    <img src="images/content/catalog/8.jpg" alt="Резервуар" />
                  </div>
                  <h3 class="catalog-card__title">
                    <a href="#">
                      Резервуар горизонтальный стальной наземный (РГСН)
                    </a>
                  </h3>
                </article>
              </li>
              <li class="catalog__item">
                <article class="catalog-card">
                  <div class="catalog-card__img">
                    <img src="images/content/catalog/9.jpg" alt="Резервуар" />
                  </div>
                  <h3 class="catalog-card__title">
                    <a href="#">
                      Резервуар горизонтальный стальной наземный (РГСН)
                    </a>
                  </h3>
                </article>
              </li>
              <li class="catalog__item">
                <article class="catalog-card">
                  <div class="catalog-card__img">
                    <img src="images/content/catalog/10.jpg" alt="Резервуар" />
                  </div>
                  <h3 class="catalog-card__title">
                    <a href="#">
                      Резервуар горизонтальный стальной наземный (РГСН)
                    </a>
                  </h3>
                </article>
              </li>
              <li class="catalog__item">
                <article class="catalog-card">
                  <div class="catalog-card__img">
                    <img src="images/content/catalog/11.jpg" alt="Резервуар" />
                  </div>
                  <h3 class="catalog-card__title">
                    <a href="#">
                      Резервуар горизонтальный стальной наземный (РГСН)
                    </a>
                  </h3>
                </article>
              </li>
              <li class="catalog__item">
                <article class="catalog-card">
                  <div class="catalog-card__img">
                    <img src="images/content/catalog/12.jpg" alt="Резервуар" />
                  </div>
                  <h3 class="catalog-card__title">
                    <a href="#">
                      Резервуар горизонтальный стальной наземный (РГСН)
                    </a>
                  </h3>
                </article>
              </li>
            </ul>

            <div class="catalog__pagination pagination">
              <ul class="pagination__list">
                <li class="pagination__item">
                  <a class="pagination__link pagination__link--active" href="#">
                    1
                  </a>
                </li>
                <li class="pagination__item">
                  <a class="pagination__link" href="#">2</a>
                </li>
                <li class="pagination__item">
                  <a class="pagination__link" href="#">3</a>
                </li>
                <li class="pagination__item">...</li>
                <li class="pagination__item">
                  <a class="pagination__link" href="#">Далее</a>
                </li>
              </ul>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
