<section class="reviews">
  <div class="container">
    <div class="reviews__top">
      <h2 class="reviews__title section-title">О нас говорят</h2>

      <div class="reviews__text">
        <p>
          За все время работы выполнили более 1500 сварочных работ по
          производству емкостей разной сложности.
        </p>
      </div>
    </div>
    <!-- https://images.unsplash.com/photo-1497215728101-856f4ea42174?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80 -->
    <div class="reviews__content">
      <div class="reviews__slider swiper">
        <ul class="reviews__slides swiper-wrapper">
          <li class="reviews__slide swiper-slide">
            <img
              src="images/content/reviews/1.jpg"
              alt="Благодарственное письмо"
            />
          </li>
          <li class="reviews__slide swiper-slide">
            <img
              src="images/content/reviews/1.jpg"
              alt="Благодарственное письмо"
            />
          </li>
          <li class="reviews__slide swiper-slide">
            <img
              src="images/content/reviews/1.jpg"
              alt="Благодарственное письмо"
            />
          </li>
          <li class="reviews__slide swiper-slide">
            <img
              src="images/content/reviews/1.jpg"
              alt="Благодарственное письмо"
            />
          </li>
          <li class="reviews__slide swiper-slide">
            <img
              src="images/content/reviews/1.jpg"
              alt="Благодарственное письмо"
            />
          </li>
          <li class="reviews__slide swiper-slide">
            <img
              src="images/content/reviews/1.jpg"
              alt="Благодарственное письмо"
            />
          </li>
          <li class="reviews__slide swiper-slide">
            <img
              src="images/content/reviews/1.jpg"
              alt="Благодарственное письмо"
            />
          </li>
        </ul>

        <div class="swiper-pagination"></div>
      </div>

      <button class="reviews__arrows">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </button>
    </div>
  </div>
</section>
