<section class="reviews">
  <div class="container">
    <div class="reviews__top">
      <h2 class="reviews__title section-title">О нас говорят</h2>

      <div class="reviews__text">
        <p>
          За все время работы выполнили более 1500 сварочных работ по
          производству емкостей разной сложности.
        </p>
      </div>
    </div>
    <div class="reviews__content">
      <div class="reviews__slider swiper">
        <ul class="reviews__slides swiper-wrapper">
          <li class="reviews__slide swiper-slide">
            <img
              src="images/content/reviews/1.jpg"
              alt="Благодарственное письмо"
            />
          </li>
          <li class="reviews__slide swiper-slide">
            <img
              src="images/content/reviews/2.jpg"
              alt="Благодарственное письмо"
            />
          </li>
          <li class="reviews__slide swiper-slide">
            <img
              src="images/content/reviews/3.jpg"
              alt="Благодарственное письмо"
            />
          </li>
          <li class="reviews__slide swiper-slide">
            <img
              src="images/content/reviews/4.jpg"
              alt="Благодарственное письмо"
            />
          </li>
          <li class="reviews__slide swiper-slide">
            <img
              src="images/content/reviews/1.jpg"
              alt="Благодарственное письмо"
            />
          </li>
          <li class="reviews__slide swiper-slide">
            <img
              src="images/content/reviews/2.jpg"
              alt="Благодарственное письмо"
            />
          </li>
          <li class="reviews__slide swiper-slide">
            <img
              src="images/content/reviews/3.jpg"
              alt="Благодарственное письмо"
            />
          </li>
        </ul>

        <div class="swiper-pagination"></div>
      </div>

      <div class="reviews__arrows">
        <button
          class="swiper-button-prev"
          type="button"
          aria-label="Следующий"
        ></button>
        <button
          class="swiper-button-next"
          type="button"
          aria-label="Предыдущий"
        ></button>
      </div>
    </div>
  </div>
</section>
