<section class="send send--column">
  <div class="container">
    <div class="send__wrapper">
      <div class="send__top">
        <h2 class="send__title section-title">
          Оставьте свои контактные данные
        </h2>
        <div class="send__text">
          <p>
            для получения консультации по производству резервуарного и
            емкостного оборудования.
          </p>
        </div>
      </div>

      <form class="send__form form-send form-send--column" action="/">
        <div class="form-send__top">
          <label class="form-send__group form-send__group--name">
            <input
              class="form-send__input"
              type="text"
              placeholder="Введите Ваше имя"
              required
            />
          </label>
          <label class="form-send__group form-send__group--phone">
            <input
              class="form-send__input"
              type="text"
              placeholder="Введите Ваше имя"
              required
            />
          </label>
          <label class="checkbox">
            <input class="checkbox__input" type="checkbox" checked required />
            <span class="checkbox__box"></span>
            <span class="checkbox__text">
              Я согласен с
              <a href="#">политикой обработки персональных данных</a>
            </span>
          </label>

          <button class="form-send__btn btn" type="submit">
            Отправить заявку
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
